*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.idea/runConfigurations.xml
app/libs/
app/src/main/res/drawable/
smsreceiver/libs/
smsreceiver/src/main/res/drawable/
.idea
catchuuid/libs/
catchuuid/src/main/res/drawable/
